.projects {
    &__title {
        text-align: center;
        margin: 100px auto;
        text-transform: uppercase;
        
    }
    h2 {
        text-transform: uppercase;
        color: rgb(12, 12, 12);
        font-size: 44px;
        font-weight: 600;
        margin-top: 100px;
    }
    
}
.photos {
    margin-top: 90px;
    margin-bottom: 90px;

     div {
        overflow: hidden;
    }
}

.gallery__btn {
    margin-top: 80px;
    border: solid 1px black;
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background: white;
    margin-left: 470px;
}
